<h1>add new employee</h1>
<form action="/view" method="post" enctype="multipart/form-data">
    <label for="id">ID</label>
    <input type="text" id="id" name="id">
    <br>
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="department">Department</label>
    <input type="text" id="department" name="department">
    <br>
    <button type="submit">ADD</button>
</form>

<h1>delete an employee</h1>
<form action="/view" method="post" enctype="multipart/form-data">
    <label for="id_delete">ID of the employee</label>
    <input type="text" id="id_delete" name="id_delete">
    <button type="submit">DELETE</button>
</form>